.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // to align items in the center peferctly, use align-items 
    // and justify-content: center, AND add a height !!!
    height: 100%;
}